polyline {
  stroke: red;
}
polygon {
  fill: rgb(150, 200, 240);
  stroke: none;
}
.gridLine {
  stroke: gray;
  /*stroke-dasharray should eventually be set programmatically to coordinate with the height of the viewBox.*/
  stroke-dasharray: 10 16;
}
.tick {
  stroke-width: 5;
}
.tick-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 100pt;
  text-anchor: end;
}
#frame {
  fill: aqua;
  fill-opacity: 0.5;
}
#inner {
  overflow: visible;
  stroke: black;
  stroke-width: 10;
  fill: none;
}
#outer {
  background-color: rgba(233, 233, 233, 0.5);
  margin-top: 1em;
}
