polyline {
  stroke: red;
}
.gridLine {
  stroke: gray;
  /*stroke-dasharray should eventually be set programmatically to coordinate with the height of the viewBox.*/
  stroke-dasharray: 10 16;
}
.tick {
  stroke-width: 5;
}
.tick-text {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 100pt;
  text-anchor: end;
}
#inner {
  overflow: visible;
  stroke: black;
  stroke-width: 10;
  fill: none;
}
#outer {
  background-color: bisque;
}
