.curve {
  stroke: red;
}
.shading {
  fill: rgb(150, 220, 240);
  stroke: none;
}
.gridLine {
  stroke: gray;
  /*stroke-dasharray should eventually be set programmatically to coordinate with the height of the viewBox.*/
  stroke-dasharray: 10 16;
}
